:root{
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}
@font-face {
    font-family: "Inter";
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
body{
    font-family: "Inter", sans-serif;
    background-color: var(--grey-900);
    color: var(--white);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: var(--grey-800);
    padding: 30px;
    border-radius: 10px;
    gap: 20px;
    width: min(90%, 400px);
    max-height: 90vh;
}
.card .info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card .info img{
    border-radius: 50%;
    width: 6rem;
    margin-bottom: 25px;
}
.card .info label{
    font-size: 1.8rem;
    margin-bottom: 8px;
    color: var(--white);
    font-weight: 600;
}
.card .info span{
    color: var(--green);
    font-weight: 600;
    margin-bottom: 30px;
}
.card .info p{
    color: var(--white);
    opacity: .7;
}
.card .links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.card .links a{
    text-decoration: none;
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: var(--grey-700);
    color: var(--white);
    border-radius: 8px;
    font-weight: 600;
    transition: .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card .links a:hover{
    background-color: var(--green);
    color: var(--grey-900);
}

.attribution { 
    font-size: 11px; 
    position: absolute;
    bottom: 1%;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}